p {
  color: blue;
}

ul {
  color: black;
  border: 1px solid pink;
  border-radius: 4px;
  width: 300px;
  padding: 10px 20px;
}

li {
  margin: 10px 0px;
}

input {
  width: 200px;
}

.note {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;

}